.banner-field {
    width: 96%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
}

.banner {
    width: 98%;
    /* height: 250px; */
    border-radius: 10px;
    display: flex;
    color: white;
    padding: 20px;
}

.banner img {
    width: 10vw;
    height: 13vw;
    margin-left: 20px;
    border-radius: 6px;
    margin: auto;
}

.banner-content {
    color: black;
    margin-left: 20px;
}

.banner-content h1 {
    font-size: 2vw;
}

.banner-content p {
    font-size: 1vw;
}

@media (max-width:820px) {
    .banner-field {
        grid-template-columns: auto auto;
    }
    .banner {
        padding: 10px;
        border-radius: 5px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
    }
    .banner-content h1 {
        font-size: 16px;
    }
    .banner-content p {
        font-size: 12px;
        height: 30px;
        overflow: hidden;
    }
    .banner img {
        height: 90px;
        width: 70px;
    }
}

@media (max-width:500px) {
    .banner-field {
        grid-template-columns: auto;
    }
    .banner {
        width: 100%;
    }
}
