:root {
    --darkBlue: #1a3166;
    --lightBlue: #407bff;
    --mediumBlue: #3362cc;
    --primary: #4f36e9;
    --button: #5138ee;
    --secondary: #3521b5;
    --orange: #FF9300;
    --facebook: #4267B2;
}